/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@page {
  size: A4; }

:root {
  --color-primary: #d81e47;
  --color-secondary: #313449;
  --color-grey: rgb(107, 107, 107);
  --color-font: rgb(19, 19, 19); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: black;
  background-color: #0c0c0c;
  min-height: 100vh; }

@page {
  size: 7in 9.25in; }

.color-1 {
  color: var(--color-primary); }

.color-2 {
  color: var(--color-secondary); }

.bold {
  font-weight: 500; }

.margin-left {
  display: inline-block;
  margin-left: 2rem; }

.link {
  font-weight: 500;
  text-decoration: underline;
  color: var(--color-primary); }

.cv {
  width: 21cm;
  margin: 0 auto;
  background-color: white;
  font-size: 1.2rem; }

.page {
  height: 27.75cm;
  width: 21cm;
  line-height: 1.45;
  display: flex; }
  .page__left {
    position: relative;
    z-index: 2;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-secondary); }
    .page__left::before {
      content: "";
      position: absolute;
      top: 10.25rem;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 4px;
      background-color: white; }
    .page__left-top, .page__left-bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .page__left-middle {
      width: 100%;
      height: 36rem;
      background-image: url("/img/tech.png");
      background-position: right;
      background-position-x: -34rem;
      background-size: cover;
      background-repeat: no-repeat; }
  .page__right {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem; }

.avatar {
  position: relative;
  margin: 2rem 0;
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  background-color: white; }
  .avatar__image {
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    border: 4px solid var(--color-primary); }
    .avatar__image > img {
      width: 100%;
      height: auto;
      border-radius: 50%;
      transform: scale(1.15);
      object-fit: contain;
      -moz-user-select: none;
      user-select: none; }

.media {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .media__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.3rem; }
    .media__item:not(:last-child) {
      margin-bottom: 1rem; }
    .media__item > i {
      text-align: center;
      min-width: 2rem;
      font-size: 1.8rem;
      margin-right: 1rem;
      color: var(--color-primary); }
    .media__item > a {
      font-size: 1.3rem;
      color: white;
      text-decoration: none; }

.copyright {
  font-size: 1.2rem;
  margin: 1rem;
  text-align: center;
  color: var(--color-primary); }

.header {
  width: 100%; }
  .header__name {
    font-family: 'Chakra Petch', sans-serif;
    width: 70%;
    margin: 0 auto;
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 3px;
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-secondary); }
  .header__profession {
    width: 70%;
    margin: 1rem auto;
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--color-font);
    word-spacing: 2px; }

.about-me {
  width: 80%;
  margin: 0 auto;
  text-align: justify; }

.education {
  width: 100%; }
  .education__item {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem; }
    .education__item:not(:last-child) {
      margin-bottom: .5rem; }
  .education__school {
    color: var(--color-primary);
    font-weight: 700; }
  .education__degree {
    color: var(--color-secondary); }
  .education__year {
    display: inline-block;
    margin-left: 2rem;
    color: var(--color-grey);
    font-weight: 500; }

.awards {
  width: 100%; }
  .awards__content {
    width: 80%;
    margin: 0 auto;
    text-align: justify; }

.experience {
  width: 100%; }
  .experience__content {
    width: 80%;
    margin: 0 auto;
    text-align: justify; }

.skills {
  width: 100%; }
  .skills__row {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem; }
  .skills__column-title {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: .5rem; }
  .skills__column-content {
    font-weight: 500;
    font-size: 1.3rem;
    list-style-type: disc;
    list-style-position: inside; }

.trainings {
  width: 100%; }
  .trainings__list {
    width: 80%;
    margin: 0 auto; }
    .trainings__list-item {
      font-size: 1.2rem; }
      .trainings__list-item:not(:last-child) {
        margin-bottom: .5rem; }
  .trainings__name {
    display: block;
    color: var(--color-primary);
    margin-left: .5rem;
    font-weight: 700; }
  .trainings__date {
    display: inline-block;
    margin-left: 1rem;
    color: var(--color-grey);
    font-weight: 500; }

.projects {
  text-align: justify;
  width: 100%; }
  .projects__list {
    width: 80%;
    margin: 0 auto; }
    .projects__list-item {
      font-size: 1.2rem; }
      .projects__list-item:not(:last-child) {
        margin-bottom: .5rem; }
  .projects__link {
    color: var(--color-primary);
    margin-left: .5rem;
    font-weight: 700;
    text-decoration: none; }
  .projects__description {
    display: inline-block;
    color: var(--color-grey);
    font-weight: 500; }

.abilities {
  width: 100%; }
  .abilities__row {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    .abilities__row:not(:last-child) {
      margin-bottom: 1rem; }
    .abilities__row-title {
      color: var(--color-primary);
      font-weight: 700;
      font-size: 1.4rem;
      margin-bottom: .5rem; }
    .abilities__row-content {
      font-weight: 500;
      font-size: 1.3rem;
      list-style-type: disc;
      list-style-position: inside; }

.hobbies {
  width: 100%; }
  .hobbies__row {
    width: 75%;
    margin: 1.5rem auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem; }
  .hobbies__item {
    flex: 0 0 30%;
    text-align: center; }
    .hobbies__item > img {
      width: 55%;
      height: auto; }

.section-header {
  position: relative;
  display: block;
  width: 70%;
  margin: 1.5rem auto .5rem;
  text-align: left; }
  .section-header > h1 {
    color: var(--color-secondary);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem; }
  .section-header::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -21.4%;
    display: inline-block;
    width: 17%;
    height: 2px;
    background-color: var(--color-primary); }
  .section-header::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -4.4%;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--color-primary); }

.clause {
  width: 96%;
  margin: 0 auto 1rem;
  position: absolute;
  bottom: 0;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1;
  color: var(--color-font); }

.page-number {
  position: absolute;
  bottom: .3rem;
  right: .5rem;
  color: var(--color-font);
  font-size: 1.1rem;
  font-weight: 500; }
