.cv {
    width: 21cm;
    margin: 0 auto;
    background-color: white;
    font-size: 1.2rem;
}

.page {
    height: 29.7cm;
    width: 21cm;

    display: flex;

    &__left {
        position: relative;
        z-index: 2;
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--color-secondary);

        &::before {
            content: "";
            position: absolute;
            top: 10.25rem;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 4px;
            background-color: white;
        }

        &-top,
        &-bottom {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-middle {
            width: 100%;
            height: 36rem;
            background-image: url("/img/tech.png");
            background-position: right;
            background-position-x: -34rem;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    &__right {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}